In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\elena\appdata\local\programs\python\python313\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\elena\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\elena\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\elena\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\elena\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\elena\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install numpy

Requirement already satisfied: numpy in c:\users\elena\appdata\local\programs\python\python313\lib\site-packages (2.3.4)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
import numpy as np

In [4]:
df_gardner= pd.read_csv("gardner.csv", index_col=0) 
pd.set_option('display.max_columns', None) 
pd.set_option('display.max_rows', None)

In [5]:
df_gardner.columns

Index(['EditionNumber', 'TitleofWork', 'Year', 'PageNumberofImage',
       'ArtistUniqueID ', 'ArtistNationality', 'ArtistGender', 'ArtistRace',
       'ArtistEthnicity', 'HeightofWorkinGardner(cm)*',
       'WidthofWorkinGardner(cm)', 'LengthofText(cm)', 'WidthofText(cm)',
       'ExtraTextLength(cm)', 'ExtraTextWidth(cm)',
       'AreaofWorkinGardner(cm^2)', 'AreaofText(cm^2)', 'ExtraTextArea(cm^2)',
       'TotalAreaText(cm^2)', 'TotalSpace(cm^2)', 'PageArea(cm^2)',
       'SpaceRatioPerPage', 'Book', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41',
       'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
       'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49',
       'Unnamed: 50', 'Unnamed: 51'],
      dtype='object')

In [6]:
df_gardner.head()

,EditionNumber,TitleofWork,Year,PageNumberofImage,ArtistUniqueID,ArtistNationality,ArtistGender,ArtistRace,ArtistEthnicity,HeightofWorkinGardner(cm)*,WidthofWorkinGardner(cm),LengthofText(cm),WidthofText(cm),ExtraTextLength(cm),ExtraTextWidth(cm),AreaofWorkinGardner(cm^2),AreaofText(cm^2),ExtraTextArea(cm^2),TotalAreaText(cm^2),TotalSpace(cm^2),PageArea(cm^2),SpaceRatioPerPage,Book,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51
ArtistName,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Aaron Douglas,9,Noah's Ark,1991,965,1.0,American,Male,Black or African American,Not Hispanic or Latinx,11.3,8.5,14.5,8.4,NaN,NaN,96.05,121.80,NaN,121.80,217.85,616.50,0.353366,gardner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aaron Douglas,10,Noah's Ark,1996,1053,1.0,American,Male,Black or African American,Not Hispanic or Latinx,12.1,8.9,12.4,9.0,NaN,NaN,107.69,111.60,NaN,111.60,219.29,586.42,0.373947,gardner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aaron Douglas,11,Noah's Ark,2001,1030,1.0,American,Male,Black or African American,Not Hispanic or Latinx,12.3,8.8,10.8,9.0,NaN,NaN,108.24,97.20,NaN,97.20,205.44,677.44,0.303259,gardner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aaron Douglas,12,Noah's Ark,2005,990,1.0,American,Male,Black or African American,Not Hispanic or Latinx,12.3,8.8,15.7,8.9,NaN,NaN,108.24,139.73,NaN,139.73,247.97,657.66,0.377049,gardner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aaron Douglas,13,Noah's Ark,2009,937,1.0,American,Male,Black or African American,Not Hispanic or Latinx,12.8,9.3,15.0,9.3,NaN,NaN,119.04,139.50,NaN,139.50,258.54,648.93,0.398410,gardner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_gardner = df_gardner.reset_index()

In [8]:
def eliminar_columnas(df):
    columnas_a_eliminar = [
        'HeightofWorkinGardner(cm)*',
        'WidthofWorkinGardner(cm)', 'LengthofText(cm)', 'WidthofText(cm)',
        'ExtraTextLength(cm)', 'ExtraTextWidth(cm)',
        'AreaofWorkinGardner(cm^2)', 'AreaofText(cm^2)', 'ExtraTextArea(cm^2)',
        'TotalAreaText(cm^2)', 'TotalSpace(cm^2)', 'PageArea(cm^2)',
        'SpaceRatioPerPage', 'Book', 'Unnamed: 24', 'Unnamed: 25',
        'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
        'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
        'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
        'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41',
        'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
        'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49',
        'Unnamed: 50', 'Unnamed: 51', 'EditionNumber', 'PageNumberofImage', 'ArtistUniqueID '
    ]
    
    # Eliminar columnas que existan en el DataFrame
    df_filtrado = df.drop(columns=[col for col in columnas_a_eliminar if col in df.columns])
    return df_filtrado

In [9]:
df_gardner = eliminar_columnas(df_gardner)

In [10]:
# Función para aplicar un EDA básico
def eda_basico(df):
    print("========== RESUMEN GENERAL ==========")
    print("Dimensiones:")
    print(F"Este DataFrame tiene {df.shape[0]} filas y {df.shape[1]} columnas." , "\n")
    print()
    print()
    print('-----------------------------------------------------')
    print("Información general:")
    display(df.info())
    print()
    print()
    print('-----------------------------------------------------')
    print("Tipos de datos por columna:")
    print(df.dtypes, "\n")
    print()
    print()
    print('-----------------------------------------------------')
    
    print("\n========== DESCRIBES ==========")
    print("Descripción de columnas numéricas:")
    display(df.describe().T)
    print()
    print()
    print('-----------------------------------------------------')

    print("Descripción de columnas categóricas:")
    try:
        display(df.describe(include=['O']))
    except ValueError:
        print("No se existen columnas categóricas en este DataFrame.")
    print()
    print()
    print('-----------------------------------------------------')

    print("\n========== MUESTRAS ==========")
    print("Primeras filas del DataFrame:")
    display(df.head())
    print()
    print()
    print("Últimas filas del DataFrame:")
    display(df.tail(5))
    print()
    print()
    print("Cinco filas aleatorias del DataFrame:")
    display(df.sample(5))
    print()
    print()
    print('-----------------------------------------------------')
    
    print("\n========== NULOS ==========")
    print("Valores nulos por columna:")

    if df_gardner.isnull().sum().any():
        print("Estas son las columnas en las que hay valores nulos:")
        display(df_gardner.isnull().sum())
    else:
        print("No hay valores nulos en este DataFrame.")

    print("\nDataframe de valores nulos:")
    porcentaje_nulos = (df_gardner.isnull().sum() / df_gardner.shape[0]) * 100
    total_nulos = df_gardner.isnull().sum()

    df_nulos = pd.DataFrame({
        "Total nulos": total_nulos,
        "Porcentaje nulos": porcentaje_nulos,
        "Tipo de dato": df_gardner.dtypes
    })

    df_nulos = df_nulos[df_nulos["Porcentaje nulos"] > 0]
    df_nulos = df_nulos.round(2).reset_index().sort_values(by="Porcentaje nulos", ascending=False)
    df_nulos.columns = ["Columna", "Total nulos", "Porcentaje nulos", "Tipo de dato"]

    display(df_nulos)
    print('-----------------------------------------------------')

    print("\n========== DUPLICADOS ==========")
    dup_count = df.duplicated().sum()
    print(f"Hay {dup_count} filas duplicadas.")

    if dup_count > 0:
        print("\nEstas son las filas duplicadas (sin incluir la primera aparición):")
        display(df[df.duplicated()])

        print("\nEstas son las filas duplicadas incluyendo la primera aparición:")
        display(df[df.duplicated(keep=False)])
    else:
        print("No hay filas duplicadas.")
    
    print('-----------------------------------------------------')

In [11]:
eda_basico(df_gardner)

========== RESUMEN GENERAL ==========
Dimensiones:
Este DataFrame tiene 2325 filas y 7 columnas.



-----------------------------------------------------
Información general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2325 entries, 0 to 2324
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ArtistName         2325 non-null   object
 1   TitleofWork        2323 non-null   object
 2   Year               2325 non-null   int64
 3   ArtistNationality  2302 non-null   object
 4   ArtistGender       2261 non-null   object
 5   ArtistRace         2296 non-null   object
 6   ArtistEthnicity    2267 non-null   object
dtypes: int64(1), object(6)
memory usage: 127.3+ KB

None

-----------------------------------------------------
Tipos de datos por columna:
ArtistName           object
TitleofWork          object
Year                  int64
ArtistNationality    object
ArtistGender         object
ArtistRace           object
ArtistEthnicity      object
dtype: object



-----------------------------------------------------

========== DESCRIBES ==========
Descripción de columnas numéricas:

       count         mean       std     min     25%     50%     75%     max
Year  2325.0  1994.354839  21.77599  1926.0  1980.0  2001.0  2013.0  2020.0

-----------------------------------------------------
Descripción de columnas categóricas:

,ArtistName,TitleofWork,ArtistNationality,ArtistGender,ArtistRace,ArtistEthnicity
count,2325,2323,2302,2261,2296,2267
unique,334,727,50,2,5,2
top,Pablo Picasso,Painting,French,Male,White,Not Hispanic or Latinx
freq,66,23,792,2047,2131,2063

-----------------------------------------------------

========== MUESTRAS ==========
Primeras filas del DataFrame:

,ArtistName,TitleofWork,Year,ArtistNationality,ArtistGender,ArtistRace,ArtistEthnicity
0,Aaron Douglas,Noah's Ark,1991,American,Male,Black or African American,Not Hispanic or Latinx
1,Aaron Douglas,Noah's Ark,1996,American,Male,Black or African American,Not Hispanic or Latinx
2,Aaron Douglas,Noah's Ark,2001,American,Male,Black or African American,Not Hispanic or Latinx
3,Aaron Douglas,Noah's Ark,2005,American,Male,Black or African American,Not Hispanic or Latinx
4,Aaron Douglas,Noah's Ark,2009,American,Male,Black or African American,Not Hispanic or Latinx

Últimas filas del DataFrame:

,ArtistName,TitleofWork,Year,ArtistNationality,ArtistGender,ArtistRace,ArtistEthnicity
2320,Yosa Buson,Cuckoo Flying over New Verdure,2013,Japanese,Male,Asian,Not Hispanic or Latinx
2321,Yosa Buson,Cuckoo Flying over New Verdure,2016,Japanese,Male,Asian,Not Hispanic or Latinx
2322,Yosa Buson,Cuckoo Flying over New Verdure,2020,Japanese,Male,Asian,Not Hispanic or Latinx
2323,Zhang Xiaogang,Bloodline: Big Family No. 2,2016,Chinese,Male,Asian,Not Hispanic or Latinx
2324,Zhang Xiaogang,Bloodline: Big Family No. 2,2020,Chinese,Male,Asian,Not Hispanic or Latinx

Cinco filas aleatorias del DataFrame:

,ArtistName,TitleofWork,Year,ArtistNationality,ArtistGender,ArtistRace,ArtistEthnicity
1156,James Abbott McNeill Whistler,"Nocturne, Southampton Water",1936,American,Male,White,Not Hispanic or Latinx
1801,Pablo Picasso,Accordionist,1986,Spanish,Male,White,Hispanic or Latinx
107,Anne Louis Girodet Trioson,Burial of Atala,2016,French,Male,White,Not Hispanic or Latinx
1739,Nadar,Eugène Delacroix,1996,French,Male,White,Not Hispanic or Latinx
458,Edvard Munch,The Scream,1980,Norwegian,Male,White,Not Hispanic or Latinx

-----------------------------------------------------

========== NULOS ==========
Valores nulos por columna:
Estas son las columnas en las que hay valores nulos:

ArtistName            0
TitleofWork           2
Year                  0
ArtistNationality    23
ArtistGender         64
ArtistRace           29
ArtistEthnicity      58
dtype: int64

Dataframe de valores nulos:

             Columna  Total nulos  Porcentaje nulos Tipo de dato
2       ArtistGender           64              2.75       object
4    ArtistEthnicity           58              2.49       object
3         ArtistRace           29              1.25       object
1  ArtistNationality           23              0.99       object
0        TitleofWork            2              0.09       object

-----------------------------------------------------

========== DUPLICADOS ==========
Hay 1 filas duplicadas.

Estas son las filas duplicadas (sin incluir la primera aparición):

,ArtistName,TitleofWork,Year,ArtistNationality,ArtistGender,ArtistRace,ArtistEthnicity
264,Charles Sheeler,The Upper Deck,1996,American,Male,White,Not Hispanic or Latinx

Estas son las filas duplicadas incluyendo la primera aparición:

,ArtistName,TitleofWork,Year,ArtistNationality,ArtistGender,ArtistRace,ArtistEthnicity
263,Charles Sheeler,The Upper Deck,1996,American,Male,White,Not Hispanic or Latinx
264,Charles Sheeler,The Upper Deck,1996,American,Male,White,Not Hispanic or Latinx

-----------------------------------------------------

# *NULOS*

In [12]:
df_gardner[df_gardner['TitleofWork'].isnull()].head()

,ArtistName,TitleofWork,Year,ArtistNationality,ArtistGender,ArtistRace,ArtistEthnicity
266,"Chaucer, Printed by William Morris; illustrate...",NaN,1926,British,Male,White,Not Hispanic or Latinx
349,Devised by Johann Wolfgang von Goethe. Prepare...,NaN,1959,German-American,Male,White,Not Hispanic or Latinx

In [13]:
#Primer Nulo:
# Localizar el índice del primer nulo en TitleofWork
idx_nulo = df_gardner[df_gardner['TitleofWork'].isnull()].index[0]

# Asignar el nuevo valor
df_gardner.loc[idx_nulo, 'TitleofWork'] = "The Works of Geoffrey Chaucer, now newly imprinted"

In [14]:
#Segundo Nulo:
# Localizar el índice del primer nulo en TitleofWork
idx_nulo = df_gardner[df_gardner['TitleofWork'].isnull()].index[0]

# Asignar el nuevo valor
df_gardner.loc[idx_nulo, 'TitleofWork'] = "Letters from Goethe to Lavater from the Years 1774 to 1783"

In [15]:
# Para el resto, rellenamos con "Unknown"
for col in ['ArtistNationality', 'ArtistGender', 'ArtistRace', 'ArtistEthnicity']:
    df_gardner[col] = df_gardner[col].fillna('Unknown')

In [16]:
df_gardner.sample(15)

,ArtistName,TitleofWork,Year,ArtistNationality,ArtistGender,ArtistRace,ArtistEthnicity
1502,Katsushika Hokusai,The Great Wave off Kanagawa,2005,Japanese,Male,Asian,Not Hispanic or Latinx
1373,John Singer Sargent,The Daughters of Edward Darley Boit,2016,American,Male,White,Not Hispanic or Latinx
84,Andy Warhol,Marilyn Diptych,2009,American,Male,White,Not Hispanic or Latinx
1971,Richard Estes,Nedick's,1980,American,Male,White,Not Hispanic or Latinx
675,Francisco Goya,"The Third of May, 1808",2001,Spanish,Male,White,Hispanic or Latinx
1478,Kamol Tassananchalee,"Buddha Footprint, Nang-Yai Series II",2001,Thai,Male,Asian,Not Hispanic or Latinx
1710,N/A2,"Ancestor figure, male, East Alligator Rivers, ...",2016,Unknown,Unknown,Unknown,Unknown
223,Camille Pissarro,Place du Théâtre Français,1980,Danish-French,Male,White,Not Hispanic or Latinx
578,Eugène Delacroix,Tiger Hunt,2001,French,Male,White,Not Hispanic or Latinx
1765,Oskar Kokoschka,The Bride of the Wind,1996,Austrian,Male,White,Not Hispanic or Latinx
2110,Théodore Géricault,Insane Woman (Envy),1980,French,Male,White,Not Hispanic or Latinx
122,Antoine Jean Gros,Pest House at Jaffa,1975,French,Male,White,Not Hispanic or Latinx
676,Francisco Goya,Saturn Devouring His Children,2001,Spanish,Male,White,Hispanic or Latinx
926,Gustave Courbet,Burial at Ornans,2016,French,Male,White,Not Hispanic or Latinx
729,Franz Marc,Fate of the Animals,2020,German,Male,White,Not Hispanic or Latinx

In [17]:
df_gardner = df_gardner.rename(columns={
    'ArtistName': 'Artist',
    'TitleofWork': 'Title',
    'ArtistNationality': 'Nationality',
    'ArtistGender': 'Gender',
    'ArtistRace': 'Race',
    'ArtistEthnicity': 'Ethnicity'
})

In [18]:
df_gardner.sample(10)

,Artist,Title,Year,Nationality,Gender,Race,Ethnicity
979,Henri de Toulouse-Lautrec,At the Moulin Rouge,2001,French,Male,White,Not Hispanic or Latinx
1014,Henri Rousseau,The Waterfall,1959,French,Male,White,Not Hispanic or Latinx
2048,Sir Joshua Reynolds,Nelly O'Brien,1959,British,Male,White,Not Hispanic or Latinx
590,Eugène Delacroix,Women of Algiers in Their Apartment,2016,French,Male,White,Not Hispanic or Latinx
110,Anselm Feuerbach,Medea,1980,German,Male,White,Not Hispanic or Latinx
450,Édouard Manet,A Bar at the Folies-Bergère,2016,French,Male,White,Not Hispanic or Latinx
453,Édouard Manet,Claude Monet in His Studio Boat,2020,French,Male,White,Not Hispanic or Latinx
1958,Quentin de la Tour,Self-Portrait,1975,French,Male,White,Not Hispanic or Latinx
2020,Salvador Dalí,The Persistence of Memory,1948,Spanish,Male,White,Hispanic or Latinx
522,Ellsworth Kelly,Red Blue Green,2016,American,Male,White,Not Hispanic or Latinx

In [19]:
df_gardner.to_csv('df_gardner_clean.csv', index=False)